.the-table{
	/* background-color: #277714; */
	background: linear-gradient(#346b35, #277714);
	border: 5px solid #cacaca;
	border-radius: 10px;
	margin-top: 50px;
	padding: 30px 0px;
}

.card{
	height: 120px;
	/* background-color: #fff; */
	color: black;
	margin: 10px;
	width: 12.6%;
	float: left;
}

.card img{
	width: 100%;
	max-height: 120px;
	border-radius: 7px;
}